---
interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "JCF Materiais de Construção | Santarém", 
	description = "Empresa João da Costa Ferreira. Especialistas em todo o tipo de materiais de construção, pladur, canalização e eletricidade em Santarém. Peça já o seu orçamento!" 
} = Astro.props;

import Analytics from '@vercel/analytics/astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
		<link rel="shortcut icon" href="/favicon.png" />
		<link rel="apple-touch-icon" href="/favicon.png" />		
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<meta name="description" content={description} />
		
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/favicon.png" /> <Analytics />
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>